.task {
    display: flex;
    border-radius: .7em;
    background-color: #ac7506;
    justify-content: center;
    margin: 3px 3px;
    padding: 5px 5px;
    font-size: 0.75em;
}

.done {
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}